.chatbot-container {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
}

.chatbot-button {
    background-color: #007bff; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s; 
    position: relative; 
}

.chatbot-button:hover {
    transform: scale(1.1); 
}

.tooltip-text {
    display: none;
    position: absolute;
    bottom: 60px; 
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1001; 
}

.chatbot-button:hover .tooltip-text {
    display: block; 
}

/* Styling for the pop-up Discount */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.popup-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-right {
    padding-left: 20px;
    padding-top: 30px;
    width: 35%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
h3{
    font-weight: 700;
}

p {
    margin-bottom: 30px;
    font-size: small;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
input[type="text"], input[type="email"] {
    margin-bottom: 10px;
}
input[type="password"] {
    margin-bottom: 0px;
}

.signup-btn {
    width: 100%;
    padding: 8px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.signup-btn:hover {
    background-color: #00ff15;
}

.no-thanks {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #1173f3;
    text-decoration: none;
    font-size: small;
}

.terms {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #aaa;
}

.terms a {
    color: #888;
    text-decoration: underline;
}

/* Main content styling */
.content {
    text-align: center;
    margin-top: 50px;
}

.pass-btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: #000000;
}
.sign-btn{
    width: 100%;
    background-color: #fb285d;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
}
.plus-minus{
    background-color: #fff8e7;
    border: 0.5px solid #c69861;
    color: #d3ad7f;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Circle styles */
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}

.social-icons a {
    text-decoration: none;
    color: #333; 
    font-size: 26px;
    transition: color 0.2s ease-in-out; 
}

.social-icons a:hover .fa-linkedin { color: #0A66C2; }
.social-icons a:hover .fa-facebook { color: #1877F2; }
.social-icons a:hover .fa-x-twitter { color: #1DA1F2; }
.social-icons a:hover .fa-instagram { color: #E4405F; }
.social-icons a:hover .fa-pinterest { color: #E60023; }

.toast-notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast-notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.my_style3:hover {
    background: linear-gradient(90deg, orange, yellow);
    color: white !important;
}